$white: hsl(0, 0%, 98%);
$grey: hsl(0, 0%, 41%);
$black: hsl(0, 0%, 8%);


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $grey;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5em;

    .logo {
        margin: 0 3%;
        margin-top: 0.7em;
    }

    nav {
        ul {
            list-style: none;

            li {
                margin: 0 1.5em;
            }
        }

        .dropdown {
            .arrow-down {
                vertical-align: middle;
                display: inline-block;
            }

            .arrow-up {
                vertical-align: middle;
                display: none;
            }

            .dropdown-menu {
                .dropdown-item {
                    display: block;
                    margin: 1em 1.5em;
                }

                img {
                    margin-right: 1em;
                    width: 1em;
                    height: 1em;
                }
            }
        }
    }

    .auth {
        margin-left: auto;
        margin-right: 3em;

        button {
            all: unset;
            line-height: 1.5em;
            padding: 0.5em 1.3em;
            color: $grey;
            cursor: pointer;

            &:hover {
                color: $black;
            }
        }

        .login {
            margin-right: 1em;
        }

        .register {
            border-radius: 1em;
            border: 1px solid $grey;

            &:hover {
                border: 1px solid $black;
            }
        }
    }

    nav.desktop {
        ul {
            display: flex;

            li {
                height: 5em;
                line-height: 5em;
            }
        }

        .dropdown {
            position: relative;

            .dropdown-menu {
                opacity: 0;
                user-select: none;
                position: absolute;
                top: 5em;
                z-index: 100;
                width: max-content;
                background: white;
                box-shadow: 0 0 5em rgba(0, 0, 0, 0.2);
                border-radius: 0.5em;
                transition: opacity 300ms ease-in-out;
                line-height: normal;
            }

            &:hover {
                .dropdown-menu {
                    opacity: 1;
                    user-select: all;
                }

                .arrow-down {
                    display: none;
                }

                .arrow-up {
                    display: inline-block;
                }
            }

            .pos-right {
                right: 0;
            }

            .pos-left {
                left: 0;
            }
        }
    }

    img.mobile {
        cursor: pointer;
        user-select: none;
        margin-right: 1.5em;
        margin-left: auto;
    }

    .dark-background {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);

        &.active {
            display: block;
        }
    }

    nav.mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        transform: translateX(100%);
        max-width: 25em;
        background: $white;
        transition: transform 200ms ease-in-out;

        &.active {
            transform: translateX(0%);
        }

        img.closemenu {
            display: block;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        li {
            margin-bottom: 1em;
        }

        .dropdown {
            .dropdown-menu {
                overflow: hidden;
                max-height: 0em;
                transition: max-height 300ms ease-in-out;
            }

            &.dd-show {
                .dropdown-menu {
                    max-height: 15em;
                }

                .arrow-down {
                    display: none;
                }

                .arrow-up {
                    display: inline-block;
                }
            }
        }

        .auth {
            width: 9em;
            margin: 1em;

            button {
                display: block;
                text-align: center;
                width: 100%;
            }
        }
    }
}

.main {
    margin-top: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    .hero-mobile {
        width: 100vw;
    }

    .jumbotron {
        position: relative;
        width: 34vw;

        h1 {
            font-size: 80px;
            margin-top: 15%;
            color: $black;
        }

        p {
            font-size: 18px;
            width: 80%;
            line-height: 1.5em;
            margin-top: 10%;
        }

        button.more {
            display: block;
            background: $black;
            border: 1px solid $black;
            border-radius: 1em;
            font-weight: bold;
            font-size: 17px;
            color: $white;
            padding: 1em 2em;
            margin-top: 7.5%;
            cursor: pointer;

            &:hover {
                color: $black;
                background: $white;
            }
        }

        .clients {
            position: absolute;
            bottom: 0;
            display: flex;
            width: 85%;
            justify-content: space-between;
            align-items: center;
        }
    }

    .hero-desktop {
        height: 75vh;
    }
}

.attribution {
    display: block;
    text-align: center;
}

a:hover {
    color: $black;
}

.desktop {
    display: inline;
}

.mobile {
    display: none;
}

.hero-desktop {
    display: inline;
}

.hero-mobile {
    display: none;
}




@media screen and (max-width: 1400px) {
    .main {
        margin-top: 1em;

        .jumbotron {
            h1 {
                margin-top: 5%;
            }

            p {
                margin-top: 1%;
            }

            .more {
                margin-top: 1%;
            }
        }
    }
}


@media screen and (max-width: 900px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline-block;
    }

    .main {
        margin-top: 1em;

        .jumbotron {
            h1 {
                margin-top: 0;
                font-size: 60px;
            }

            p {
                margin-top: 0;
            }

            .more {
                margin-top: 0;
            }
        }

        .hero-desktop {
            height: 60vh;
        }
    }

}

@media screen and (max-width: 650px) {
    .main {
        flex-direction: column;
        align-items: center;

        .jumbotron {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            min-height: 45vh;
            h1 {
                font-size: 35px;
                margin-top: 5%;
            }

            p {
                text-align: center;
                margin-top: 5%;
                font-size: 16px;
            }

            .more {
                margin-top: 5%;
            }
        }
    }

    .hero-desktop {
        display: none;
    }

    .hero-mobile {
        display: inline-block;
    }
}